## Exercise 12

In [3]:
import polars as pl

df = pl.read_csv('../data/smoking.csv')
df.head()

shape: (5, 12)
┌────────┬─────┬───────────────┬───────────────┬───┬───────┬──────────────┬──────────────┬─────────┐
│ gender ┆ age ┆ marital_statu ┆ highest_quali ┆ … ┆ smoke ┆ amt_weekends ┆ amt_weekdays ┆ type    │
│ ---    ┆ --- ┆ s             ┆ fication      ┆   ┆ ---   ┆ ---          ┆ ---          ┆ ---     │
│ str    ┆ i64 ┆ ---           ┆ ---           ┆   ┆ str   ┆ str          ┆ str          ┆ str     │
│        ┆     ┆ str           ┆ str           ┆   ┆       ┆              ┆              ┆         │
╞════════╪═════╪═══════════════╪═══════════════╪═══╪═══════╪══════════════╪══════════════╪═════════╡
│ Male   ┆ 38  ┆ Divorced      ┆ No            ┆ … ┆ No    ┆ NA           ┆ NA           ┆ null    │
│        ┆     ┆               ┆ Qualification ┆   ┆       ┆              ┆              ┆         │
│ Female ┆ 42  ┆ Single        ┆ No            ┆ … ┆ Yes   ┆ 12           ┆ 12           ┆ Packets │
│        ┆     ┆               ┆ Qualification ┆   ┆       ┆              ┆              ┆         │
│ Male   ┆ 40  ┆ Married       ┆ Degree        ┆ … ┆ No    ┆ NA           ┆ NA           ┆ null    │
│ Female ┆ 40  ┆ Married       ┆ Degree        ┆ … ┆ No    ┆ NA           ┆ NA           ┆ null    │
│ Female ┆ 39  ┆ Married       ┆ GCSE/O Level  ┆ … ┆ No    ┆ NA           ┆ NA           ┆ null    │
└────────┴─────┴───────────────┴───────────────┴───┴───────┴──────────────┴──────────────┴─────────┘

1. Each row represents a survey response.
2. 1691 participants.
3. * gender: Categorical / Nominal
   * age: Numeric / Discrete
   * marital_status: Categorical / Nominal
   * highest_qualitifaction: Categorical / Ordinal
   * nationality: Categorical / Nominal
   * ethnicity: Categorical / Nominal
   * gross_income: Categorical / Ordinal
   * region: Categorical / Nominal
   * smoke: Categorical / Nominal
   * amnt_weekend: Numeric / Discrete (dependent on type)
   * amnt_weekday: Numeric / Discrete (dependent on type)
   * type: Categorical / Nominal