## Exercise 13

In [1]:
import polars as pl

df = pl.read_csv('../data/usairports.csv')
df.describe()

shape: (9, 15)
┌────────────┬────────────┬───────┬────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ describe   ┆ effective_ ┆ state ┆ region ┆ … ┆ site_numbe ┆ arp_latitu ┆ arp_longit ┆ cert_type_ │
│ ---        ┆ date       ┆ ---   ┆ ---    ┆   ┆ r          ┆ de         ┆ ude        ┆ date       │
│ str        ┆ ---        ┆ str   ┆ str    ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│            ┆ str        ┆       ┆        ┆   ┆ str        ┆ str        ┆ str        ┆ str        │
╞════════════╪════════════╪═══════╪════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ count      ┆ 19615      ┆ 19615 ┆ 19615  ┆ … ┆ 19615      ┆ 19615      ┆ 19615      ┆ 19615      │
│ null_count ┆ 0          ┆ 0     ┆ 0      ┆ … ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
│ mean       ┆ null       ┆ null  ┆ null   ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ std        ┆ null       ┆ null  ┆ null   ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ min        ┆ 2018-07-19 ┆ AK    ┆ AAL    ┆ … ┆ 00103.*A   ┆ 05-53-00.0 ┆ 064-42-17. ┆ I A S      │
│            ┆            ┆       ┆        ┆   ┆            ┆ 000N       ┆ 5120W      ┆ 01/1983    │
│ 25%        ┆ null       ┆ null  ┆ null   ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 50%        ┆ null       ┆ null  ┆ null   ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 75%        ┆ null       ┆ null  ┆ null   ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ max        ┆ 2018-07-19 ┆ WY    ┆ AWP    ┆ … ┆ 55058.*H   ┆ 71-17-05.5 ┆ 177-22-52. ┆ NA         │
│            ┆            ┆       ┆        ┆   ┆            ┆ 000N       ┆ 7100W      ┆            │
└────────────┴────────────┴───────┴────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [15]:
latW = df.select(pl.col('arp_latitude')).max()
latE = df.select(pl.col('arp_latitude')).min()
lonN = df.select(pl.col('arp_longitude')).max()
lonS = df.select(pl.col('arp_longitude')).min()

latW

shape: (1, 1)
┌────────────────┐
│ arp_latitude   │
│ ---            │
│ str            │
╞════════════════╡
│ 71-17-05.5000N │
└────────────────┘

In [ ]:
import cartopy.crs as ccrs
import cartopy.feature as ccrf

d